
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
<!--   THESE jS FILES NEED TO BE CALLED -->



<script src="chart.js" type="text/javascript"></script>
<script src="bar.js" type="text/javascript"></script>
<script src="venn1.js" type="text/javascript"></script>
<script src="piechart.js" type="text/javascript"></script>
    <script data-require="d3@*" data-semver="4.0.0" src="https://d3js.org/d3.v4.min.js"></script>

<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->



    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet" data-semver="3.0.1" data-require="normalize@*" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/favicon.ico">

    <title>SIMS</title>
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/cover.css" rel="stylesheet">
    <!-- PDF viewer -->
    <script src="assets/js/pdfobject.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
            <script data-require="d3@*" data-semver="4.0.0" src="https://d3js.org/d3.v4.min.js"></script>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img href="#" src="assets/sims.png" alt="SIMS">
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
					<a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-book" aria-hidden="true"></span><span class="caret"></span></a>






<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
<!-- PARAMETERS (event, 1) (event,2) (event,3) NEED TO BE ADDED TO THE ONDRAG START  -->

						<ul class="dropdown-menu">
                            <li><a id="s1"href=""draggable="true" ondragstart="drag(event, 1)">Student grades</a></li>
                            <li><a id="s2"href=""draggable="true" ondragstart="drag(event, 2)">Student gender</a></li>
                            <li><a id="s3"href=""draggable="true" ondragstart="drag(event, 3)">Student year</a></li>
                        </ul>

<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->




					
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span><span class="caret"></span></a>
						<ul class="dropdown-menu">
                            <li><a id="s4"href="" draggable="true" ondragstart="drag(event, 4)">Teacher subject</a></li>
                            <li><a href="">Teacher classes</a></li>
                       
                        </ul>
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-center" aria-hidden="true"></span><span class="caret"></span></a>
					
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><span class="caret"></span></a>
					
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="caret"></span></a>
					
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span class="caret"></span></a>
					
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="caret"></span></a>
					
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span><span class="caret"></span></a>
					
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-file" aria-hidden="true"></span><span class="caret"></span></a>
					
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><span class="caret"></span></a>
					
					</li>
                    <li class="dropdown"><a href=""class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span class="caret"></span></a>
					
					</li>
                    		
					
					
              
               
                </ul>
                
            </div><!--/.nav-collapse -->
        </div>
    </nav>



<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
<! WE NEED TO ADD/ALTER THE DRAG FUNCTION --> 
<script>

function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev, id) {
    ev.dataTransfer.setData("text", ev.target.id);
    switch(id) {
    case 1:
        showPie();
        break;
    case 2:
        showChart();        
        break;
    case 3:
        showBar();
        break;
    default:
        //code block
}
    document.getElementById("titlu").style.display="none";
}

function drop(ev) {
    ev.preventDefault();
    document.getElementById("Chart");
function hide(ev){
    //document.getElementById("Chart").style.display = "none";
    document.getElementById("titlu").style.display="block";
}
}</script>

<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->



</head>

<body>




<div class="container"> 
	<div class="well" >
		<div class="row">



    
		<div align="center" id="workspace" style="width:100%;height:500px;padding:10px;display:block;"
 ondrop="drop(event)" ondragover="allowDrop(event)">
				<h1 id="titlu">Drag and drop here</h1>



<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
<!-- WE NEED A DIV WITH ID="Chart"
	<div id="Chart">
	
	</div>

<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->
	

    <div id="show-data"></div>
    

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
                    <button class="btn btn-lg  btn-primary" id="resetButton" onclick="resetchart();
                document.getElementById('titlu').style.display='block';">Reset</button>
<button class="btn btn-lg  btn-primary" id="toggleButton" onclick="toggle();
                document.getElementById('titlu').style.display='block';">Merge</button>



			</div>
		</div>
	</div>


</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>

